<h2>Show Ice Cream Flavour: <%= @product.name %></h2>

<p>
<strong>Description:</strong>
<%= @product.description %>
</p>

<p>
<strong>Price:</strong>
$<%= @product.price %>
</p>

<p>
<strong>Stock:</strong>
<%= @product.stock %>
</p>

<%= image_tag @product.image, class:"icecream-photo", alt:@product.name %>